@tailwind base;
@tailwind components;
@tailwind utilities;

.font-serif {
    font-family: 'Playfair Display', serif;
}

body {
    font-family: 'Oxygen', sans-serif;
    background: linear-gradient(135deg, #f8ede3, #f6dfd2, #f9e5cf);
    background-size: 200% 200%; /* Make gradient larger for smooth blending */
    animation: gradientAnimation 8s ease infinite; /* Smooth animation for gradient */
    min-height: 100vh;
    margin: 0;
}

/* Optional: Gradient Animation */
@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

h1, h2, h3, h4 {
    color: #4b4334;
    font-family: 'Playfair Display', serif;
}

h1 {
    line-height: 1.23;
}

p {
    color: #7e7666;
}

.active-tab {
    color: #2c2820;
    background: #fdf3e3;
}

.background-effect {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    height: 43%;
    background: #cb6f56;
    opacity: 0.13;
    transform: translate(-5%, 0%);
    pointer-events: none;
    border-radius: 0 0 400px 400px;
    @screen lg {
        width: 40%;
        height: 100%;
        transform: translate(-20%, 0%);

    }
}

.logo {
    color: #4b4334;
    font-family: 'Playfair Display', serif;
}

.accordion-content {
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        transition-duration: .3s;
        transition-property: all;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        transition-duration: .15s;
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: var(--swiper-navigation-top-offset,95%);
    width: 12px;
    height: 20px;
    margin-top: 0;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e0d3c2;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 16px;
    font-weight: bold;
}

.swiper-pagination-bullet-active {
    background: #e0d3c2;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 15px);
}

#text-animate {
    transform-origin: center;
    animation: loader 10s infinite;
}


@keyframes loader {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 365deg;
    }
}
